<div class="work-item vertical-center-text">
  <div class="work-bubble-with-date">
    <!-- <img
    src="{{ project.img | absolute_url }}"
    class="work-bubble"
    /> -->
    {% include figure.html path=project.img class="img-fluid rounded z-depth-1" zoomable=true %}
    <div class="caption">
      {{project.info}}
    </div>  
    </div>
  <p class="work-text">
  <strong>{{ project.title }}</strong> <br/>
  {{ project.description | markdownify  | remove: '<p>' | remove: '</p>' | strip }}
  <br/>
  <div class="links">
  <a href="{{ project.url | relative_url }}" class="btn btn-sm z-depth-0" role="button">Read More</a>
  {% if project.code %}
  <a href="{{ project.code }}" class="btn btn-sm z-depth-0"  role="button"><i class="fab fa-github gh-icon"></i> Source</a>
  {% endif %}
  {% if project.demo %}
  <a href="{{ project.demo }}" class="btn btn-sm z-depth-0" role="button">Demo</a>
  {% endif %}
  {% if project.website %}
  <a href="{{ project.website }}" class="btn btn-sm z-depth-0" role="button" >Website</a>
  {% endif %}
  {% if project.blog %}
  <a href="{{ project.blog }}" class="btn btn-sm z-depth-0" role="button" >Blog</a>
  {% endif %}
  {% if project.documentation %}
  <a href="{{ project.documentation }}" class="btn btn-sm z-depth-0" role="button">Documentation</a>
  {% endif %}
  </div>
  </p>
</div>    
