/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 2em;
}

.work-bubble {
  // float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.work-bubble-with-date {
  float: left;
  padding-right: 20px;
  // padding-bottom: 0.5em;
  width: 180px;
  text-align: center;
  // height: 100px;
  // object-fit: cover;
}

.work-text {
  overflow: hidden;
}

.nav-bubble {
  float: left;
  padding-right: 70px;
  // padding-bottom: 0.5em;
  width: 60px;
  text-align: center;
  // height: 100px;
  // object-fit: cover;
}

.nav-prof {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.site-info {
  float: left;
}

.site-desc{
  margin: -5px 0 0 0;
  color: #666;
  font-size: 16px;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin-top: 10px;
}